/* This is a CSS Comment */
/* Commancd + / will also work in a CSS file to creat a comment */


/*CSS SYNTAX...*/
/*
selector {
    property: value;
    second-property: value;
}
/*
*/

/*Examples*/
/*This will make all text in h1 elements green and have a font size of 14 pixels */
h1 {
color: green;
font-size:14px;
}
/* This will make all divs have a background color of blue and a red border! */
div {
    background:blue;
    border:red
}